@page
@model Hospimascotas.App.Frontend.Pages.ListaMascotasModel
@{
}
<h1>Mascotas</h1>
<table>
  <thead>
      <tr>
         <th scope="Col">Nombre </th> 
         <th scope="Col">Edad </th> 
         <th scope="Col">Nombre </th> 
         <th scope="Col">Nombre </th> 
      </tr>
  </thead>

</table>